$horizontal-list-gap: 2em;

@mixin list-reset 
{
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin list-horizontal 
{
  @include reset;

  li 
  {
    display: inline-block;
    margin: 
      {
        left: -2px;
        right: $horizontal-list-gap;
      }
   }
}
